@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Raleway&display=swap');
body {
  background-color: #FDF0E0;
  font-family: roboto;
  color: #594545;
  font-size: 20px;
  line-height: 1.3;
}

h1, h2 {
  color: #3C2317;
  font-family: poppins;
  font-size: 30px;
  line-height: 1.3;
}

.container {
  width: 500px;
  margin: 0 auto;
}

#circle-photo {
  width: 100px;
  border-radius: 50%;
}

.btn-brown {
  background-color: #815B5B;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  text-decoration-line: none;
}

.card {
  margin: 40px 0px;
  text-align: center;
  background-color: #FAF7F0;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 10px 10px 30px rgb(0 0 10 / 45%);
}

.bottom {
  padding: 5px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  font-size: 40px;

}

.fa-brands {
  color: #815B5B;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
